:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.weather-card {
  font-size: 14px;
  width: 100%;
}

.search-container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.youtube-card {
  width: 20%;
}

.row-card {
  position: relative;
  display: flex;
}

.image-size {
  width: 200px;
  height: 200px;
}

.search-result {
  width: 170px;
  background-color: #e1e1e1;
}

