<md-card class="home-card">
  <md-card-title>Authentication<span>{{ errorMsg}}</span></md-card-title>
    <md-card-content>
      <md-input
        [(ngModel)]="user.email"
        placeholder="Email"
        id="email"
        type="email"
        class="validate"
        class="home-input"
        ngDefaultControl>
      </md-input>
      <md-input
        [(ngModel)]="user.password"
        placeholder="Password"
        id="password" type="password"
        class="validate"
        class="home-input"
        ngDefaultControl>
      </md-input>
    </md-card-content>
    <md-card-actions>
      <button md-button  color="primary" (click)="login()" type="submit" name="action">Login</button>
    </md-card-actions>
</md-card>
