<div class="home-card-container">
  <md-card>
      <md-input [(ngModel)]="user.email" id="email" type="email" class="validate" class="home-input" ngDefaultControl>
      </md-input>
      <md-input [(ngModel)]="user.password" id="password" type="password" class="validate" class="home-input" ngDefaultControl>
      </md-input>
      <span>{{errorMsg}}</span>
      <button (click)="login()"
              class="btn waves-effect waves-light"
              type="submit" name="action">Login</button>
  </md-card>
</div>
