<md-card>
  <form class="home-form">
    <md-input #term (keyup)="search(term.value)"
              class="home-input" ngDefaultControl
              placeholder="your location...">
    </md-input>
  </form>

  <md-card style="display: flex; justify-content: space-between" *ngIf="isVisible">
    <!--current weather details-->
    <div>
      <img src="http://l.yimg.com/a/i/us/we/52/{{weatherItem.code}}.gif"/>
      <div><h1><b>{{convert(weatherItem.temperature)}}</b><sup><b>o</b></sup><b>C</b></h1></div>
    </div>
    <div>
      <div><b>{{ item.location?.city }}, {{ item.location?.country }}</b></div>
      <div>Today: {{ weatherItem.todayDate }}</div>
      <div>Sunrise: {{ weatherItem.sunrise }}</div>
      <div>Sunset: {{ weatherItem.sunset }}</div>
    </div>
    <!--forecast summary-->
    <forecast-card *ngFor="let item of weatherItem.forecast" [item]="item"></forecast-card>
    <button md-fab style="background-color: #e1e1e1"><md-icon>close</md-icon></button>
  </md-card>

</md-card>
