<md-card>
  <form class="home-form">
    <md-input #term (keyup)="search(term.value)"
              class="home-input" ngDefaultControl
              placeholder="your location...">
    </md-input>
  </form>

  <md-card style="display: flex; justify-content: space-between" *ngIf="isVisible">
    <div>
      <div><b>{{ item.location?.city }}, {{ item.location?.country }}</b></div>
      <div>Today: {{ weatherItem.todayDate }}</div>
      <div>Sunrise: {{ weatherItem.sunrise }}</div>
      <div>Sunset: {{ weatherItem.sunset }}</div>
      <div>Temperature: <b>{{convert(weatherItem.temperature)}}</b><sup><b>o</b></sup><b>C</b></div>
      <div>Conditions: {{weatherItem.condition}}</div>
      <img src="http://l.yimg.com/a/i/us/we/52/{{weatherItem.code}}.gif"/>
    </div>
    <forecast-card *ngFor="let item of weatherItem.forecast" [item]="item"></forecast-card>
  </md-card>

</md-card>
