.icon {
  color: white;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.sd-toolbar-filler {
  flex: 1 1 auto;
}

.auth {
  position: relative;
  display: flex;
  margin: 10px;
  padding-top: 15px;
}

.auth-element {
  width: 100px;
  color: #e1e1e1;
}

.sidebar {
  width: 80px;
  height: 60%;
  margin-top: 70px;
  cursor: pointer;
}

.sidebar-icon {
  width: 48px;
  height: 48px;
  margin-left: 15px;
  cursor: pointer;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htla {
  background-color: transparent;
}

.c-hamburger--htla span {
  transition: transform 0.3s;
}

.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

.c-hamburger--htla.is-active {
  background-color: transparent;
}

.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}

.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(19px) translateY(2px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(19px) translateY(-2px) rotate(-45deg);
}






