<md-menu #menu="mdMenu" style="position: absolute; display: inline">
  <button md-menu-item (click)="logout()"> Sign Out</button>
</md-menu>
<md-toolbar color="primary">
  <img class="icon"
       src="./assets/images/menu.png"
       (click)="toggleSidebar()"/>
  <span class="sd-toolbar-filler"></span>
  <md-icon md-tooltip="Failed authentication" *ngIf="failed">warning</md-icon>
  <div class="auth">
    <md-input *ngIf="!isAuth" [(ngModel)]="user.email" class="auth-element" type="email" placeholder="login"
              ngDefaultControl>
    </md-input>
    <md-input *ngIf="!isAuth" [(ngModel)]="user.password" class="auth-element" type="password" placeholder="password"
              ngDefaultControl>
    </md-input>
  </div>
  <img class="icon" (click)="login()" *ngIf="!isAuth" src="./assets/images/account.png"/>
  <img class="icon" (click)="logout()" *ngIf="isAuth" src="./assets/images/exit.png"/>
</md-toolbar>

<ng2-sidebar [(open)]="_open" [closeOnClickOutside]="true">
  <div class="sidebar">
    <div><md-icon class="sidebar-icon"
              svgSrc="./assets/images/weather.svg"
              (click)="toWeather()"
              [routerLink]="['/weather']"
              [routerLinkActive]="['router-link-active']"
              [routerLinkActiveOptions]="{exact:true}"></md-icon>
    </div>
    <div><md-icon class="sidebar-icon"
              svgSrc="./assets/images/map.svg"
              (click)="toGeo()"
              [routerLink]="['/geo']"
              [routerLinkActive]="['router-link-active']"
              [routerLinkActiveOptions]="{exact:true}"></md-icon>
    </div>
    <div><md-icon class="sidebar-icon"
              (click)="toYoutube()"
              svgSrc="./assets/images/video.svg"
              [routerLink]="['/youtube']"
              [routerLinkActive]="['router-link-active']"
              [routerLinkActiveOptions]="{exact:true}"></md-icon>
    </div>
  </div>
</ng2-sidebar>
