.sd-toolbar-icon {
  color: white;
}

.sd-toolbar-filler {
  flex: 1 1 auto;
}

.auth {
  padding-left: 5px;
  padding-right: 5px;
  column-gap: 20px;
}

.auth-element {
  width: 100px;
  color: #e1e1e1;
}

