<md-toolbar color="primary">
  <div class="c-hamburger c-hamburger--htla" *ngIf="isAuth" (click)="toggleHandler(menu)" #menu><span></span></div>
  <span class="sd-toolbar-filler"></span>
  <md-icon md-tooltip="Failed authentication" *ngIf="failed">warning</md-icon>
  <div class="auth">
    <div class="form-group">
      <input type="text" *ngIf="!isAuth" [(ngModel)]="user.email"  class="form-control auth-element"  placeholder="login">
    </div>
    <span class="sd-toolbar-filler"></span>
    <div class="form-group" style="margin-left: 10px">
      <input type="password"  *ngIf="!isAuth" [(ngModel)]="user.password" class="form-control auth-element"  placeholder="password">
    </div>
  </div>
  <img class="icon" (click)="login()" *ngIf="!isAuth" src="./assets/images/account.png"/>
  <img class="icon" (click)="logout()" *ngIf="isAuth" src="./assets/images/exit.png"/>
</md-toolbar>

<ng2-sidebar [(open)]="_open">
  <div class="sidebar">
    <div><md-icon class="sidebar-icon"
              svgSrc="./assets/images/weather.svg"
              (click)="toWeather()"
              [routerLink]="['/weather']"
              [routerLinkActive]="['router-link-active']"
              [routerLinkActiveOptions]="{exact:true}"></md-icon>
    </div>
    <div><md-icon class="sidebar-icon"
              svgSrc="./assets/images/map.svg"
              (click)="toGeo()"
              [routerLink]="['/geo']"
              [routerLinkActive]="['router-link-active']"
              [routerLinkActiveOptions]="{exact:true}"></md-icon>
    </div>
    <div><md-icon class="sidebar-icon"
              (click)="toYoutube()"
              svgSrc="./assets/images/video.svg"
              [routerLink]="['/youtube']"
              [routerLinkActive]="['router-link-active']"
              [routerLinkActiveOptions]="{exact:true}"></md-icon>
    </div>
  </div>
</ng2-sidebar>

